:root {
  --main--bg: hsl(217, 54%, 11%);
  --card--bg: hsl(216, 50%, 16%);
  --line: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);
  --blue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);
  --cyan--active: hsla(178, 100%, 50%, 0.5);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  overflow-x: hidden; /* -- hide horizontal scroll in chrome -- */
  font-family: "Outfit", sans-serif;
  font-size: 1.6rem;
  line-height: 1.6;
  background-color: var(--main--bg);
}

img,
picture {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card {
  padding: 2rem;
  border-radius: 3%;
  background-color: var(--card--bg);
  width: 87.5%;
  max-width: 33rem;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 12px;
}

.img__container {
  position: relative;
  width: 100%;
  overflow: hidden;
  cursor: pointer;
  margin-bottom: 2.2rem;
}

.img__container img {
  border-radius: 3%;
}

.img__overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  border-radius: 3%;
  background-color: var(--cyan--active);
  display: none;
}

.img__overlay img {
  border-radius: 3%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.img__container:hover .img__overlay {
  display: block;
}

.card__desc {
  margin-bottom: 1.1rem;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.1rem;
}

.flex ul {
  display: flex;
  gap: 0.6rem;
  align-items: center;
}

.card__footer {
  border-top: 1px solid var(--line);
  padding-top: 1.2rem;
  display: flex;
  gap: 1.8rem;
  align-items: center;
}

.card__footer img {
  width: 12%;
  height: auto;
  border: 2px solid hsla(0, 0%, 100%, 0.6);
  border-radius: 50%;
}

footer {
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* -- Typography -- */

.card__desc a {
  font-size: 2.2rem;
  color: var(--white);
  font-weight: 600;
}

.card__desc a:hover {
  color: var(--cyan);
}

.card__desc p,
.card__footer p {
  font-weight: 300;
  font-size: 1.6rem;
  color: var(--blue);
}

.eth p {
  color: var(--cyan);
  font-weight: 600;
}

.card__footer a {
  font-weight: 400;
  color: var(--white);
  cursor: pointer;
}

.card__footer a:hover {
  color: var(--cyan);
}

.attribution {
  text-align: center;
  font-size: 1.6rem;
  background-color: var(--card--bg);
}

.attribution p,
.attribution a {
  color: var(--white);
}

.attribution a:hover {
  color: cyan;
}
